
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<style>
    .search {
        background-color: lightseagreen;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left:50px;
    }
</style>

<div class="search">
    <form asp-controller="Home" asp-action="Index">
        <span class="btn-group">
            <input class="form-control" type="text" name="SearchText" placeholder="Search Books"/>
            <input class="p-1 ml-2 btn btn-sm btn-info" type="submit" value="Search" />
        </span>
    </form>
</div>*@

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="card">
                @*<div class="card-block">
                    <img src="" class="img-fluid" />
                    <div class="card-title">
                        <h4>@Model.Title</h4>
                    </div>
                    <div class="card-text">
                        @Model.Category
                    </div>
                    <div class="card-text">
                        @Model.Price
                    </div>
                    <div class="card-text">
                        @Model.Author
                    </div>
                    <div class="card-text">
                        @Model.BookContent
                    </div>
                    <a style="margin-top:10px;" href="#" class="btn btn-success">View</a>
                </div>*@
            </div>
        </div>
    </div>
</div>
