@model IEnumerable<BookMicroservice.Models.Book>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h4>My Books</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Publisher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookContent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
        <tr>
        <td>
        @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.BookContent)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
        <a asp-action="Edit" asp-route-id="@item.BookId" class="btn btn-primary">Edit</a>
        <a asp-action="Delete" asp-route-id="@item.BookId"class="btn btn-danger">Delete</a>
        <a asp-action="BlockBook" asp-route-id="@item.BookId" class="btn btn-danger">Block</a>
        <a asp-action="UnblockBook" asp-route-id="@item.BookId" class="btn btn-primary">Unblock</a>
        </td>
        </tr>
        }
        </tbody>
    </table>
    </body>

   @* <div>
        <h4>Books</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Publisher)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Publisher)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Active)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BookContent)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BookContent)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.BookId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>*@
</html>


